html {
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgb(216, 218, 209);
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    background: lightblue;
    position: absolute;
    top: 0;
    font-family: 'Monoton', cursive;
    margin: auto;
}

h1 {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 3.5em;
    letter-spacing: .25em;
}

#body {
    width: 100%;
    height: 100%;
    margin: auto;
}

main {
    margin: auto;
    margin-top: 150px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 1px;
    background: grey;
    padding: 10px;
}