html {
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgb(216, 218, 209);
}

header {
    height: 100px;
    width: 100%;
    background: lightblue;
}

#body {
    width: 100%;
    height: 100%;
    margin: auto;
}

main {
    margin: auto;
    margin-top: 150px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 1px;
    background: grey;
    padding: 10px;
}