html {
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgb(216, 218, 209);
    font-family: 'Montserrat', sans-serif;
    min-width: 600px;
}

header {
    height: 100px;
    width: 100%;
    background: lightblue;
    position: absolute;
    top: 0;
    font-family: 'Monoton', cursive;
    margin: auto;
}

h1 {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 3.5em;
    letter-spacing: .25em;
}

#body {
    width: 100%;
    height: 100%;
    margin: auto;
}

main {
    margin: auto;
    margin-top: 125px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 1px;
    background: whitesmoke;
    padding: 10px;
}

#options {
    width: 70%;
    border-radius: 10px;
    height: 100px;
    background: rgba(99, 97, 97, 0.685);
    margin: auto;
    margin-top: 55px;
    text-align: center;
}

#gridNum {
    width: 42px;
}

button {
    margin: auto;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    margin-right: 100px;
}

#box {
    margin-top: -6px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }

  input:checked + .slider {
    background: linear-gradient(340deg, rgb(94, 218, 176), rgb(169, 71, 214));
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }

  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .button_label {
    display: inline-block;
    margin-left: 35px;
    margin-right: 40px;
  }